<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title || "Untitled" %></title>
        <link rel="stylesheet" href="/style.css">

        <script 
            src="https://cdn.socket.io/4.8.1/socket.io.min.js" 
            integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" 
            crossorigin="anonymous"
        ></script>

    </head>
    <body data-doc-id="<%= doc_id %>">
        <nav class="nav">
            <div class="nav_content">
                <h1>Editor Project</h1>
                <button title="Delete document" class="nav_el" id="delete_btn" aria-label="delete document">
                    <img src="/icons/trash.svg" alt="" class="icon">
                </button>
                <button title="Copy document URL" class="copy_button nav_el" id="copy_btn" aria-label="copy URL">
                    <img src="/icons/copy.svg" alt="" class="icon">
                    <span aria-hidden="true">Copied URL</span>
                </button>
                <a title="Home" class="link nav_el" href="/" aria-label="home page">
                    <img src="/icons/home.svg" alt="" class="icon">
                </a>
            </div>
        </nav>
        <main>
            <input class="input title_input" type="text" id="title_input" value="<%= title || "Untitled" %>" aria-label="document title">
            <aside aria-label="title status" class="status" id="title_status">&nbsp;</aside>

            <section class="user_block" aria-label="users">
                <div>
                    <span class="label">Editors:</span>
                    <span id="editor_names"></span>
                </div>

                <div class="input_group">
                    <label class="label" for="name_input">Your name:</label>
                    <input 
                        class="input name_input"
                        type="text" 
                        id="name_input" 
                        spellcheck="false" 
                    >
                </div>
            </section>

            <textarea class="textarea" aria-label="content of the document" style="text-align: left"><%= text %></textarea>

            <aside aria-label="status bar" class="status status_bar">
                <div id="text_status">&nbsp;</div>
                <div id="word_count"></div>
            </aside>
        </main>
        <!-- Saves the id of the page, can view it using F12 in the console -->
        <script src="/client.js"></script>
    </body>
</html>