<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coldoc</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <h1>Editor Project</h1>
            <p style="font-size: 1rem;">Collaborate on text-documents with your friends and family!</p>
        </header>
        <main>
            <br>
            <form action="/new" method="POST" class="generate_form">
                <button class="button shadow">Generate new document</button>
            </form>
            <section class="recent_docs" id="recent_docs" hidden>
                <br>
                <h2>Recent documents</h2>
                <ul></ul>
                <br>
                <button class="button small" id="clear_btn">Delete all documents</button>
            </section>
        </main>

        <footer>
            <p>
                Caution: any documents that have not been edited in the last 365 days are permanently deleted from the database.
            </p>
        </footer>
        <script src="home.js"></script>        
    </body>
</html>